body {
  background-color: #2b2a31;
}


.button {
  position: absolute;
  top: 90%;
  left: 50%
}

.copyfen {
  margin-top: 2rem;
  border: none;
  color: white;
  background-color: rgb(31, 32, 43);
  border-radius: 8px;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
}

.copypgn {
  margin-top: 2rem;
  border: none;
  color: white;
  background-color: rgb(31, 32, 43);
  border-radius: 8px;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
}

/* .copyfen::selection {

} */

canvas {
  position: absolute;
  top: 25%;
  left: 25%;
}

.game {
  position: relative;
  /* width: 400px;
  height: 300px; */
}

.game canvas {
  position: absolute;
  top: 25%;
  left: 25%;
}

/* 
.pawnPromotion {
  position: absolute;
  left: 50%;
  top: 50%
} */