body {
  background-color: #2b2a31;
}

.wrapper {
  display: grid;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.button {
  align-self: center;
}

.copyfen {
  margin-top: 2rem;
  border: none;
  color: white;
  background-color: rgb(31, 32, 43);
  border-radius: 8px;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
}

.copypgn {
  margin-top: 2rem;
  border: none;
  color: white;
  background-color: rgb(31, 32, 43);
  border-radius: 8px;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
}

.game,
.pawn {
  width: 800px;
  height: 800px;
  justify-self: center;
}

.game canvas:hover {
  cursor: pointer;
}